@using DataAccess.Model
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/skins/_all-skins.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/css/styles.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/plugins/iCheck/all.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Assets/plugins/datatables/dataTables.bootstrap.css")">

    <!-- jQuery 2.1.4 -->
    <script src="@Url.Content("~/Assets/js/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery-ui.onobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.unobtrusive-ajax.min.js")"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Areas/Admin/Assets/plugins/iCheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/plugins/datatables/dataTables.bootstrap.min.js")"></script>

    <link href="@Url.Content("~/Areas/Admin/Assets/plugins/select2/select2.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Areas/Admin/Assets/plugins/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>

    <script src="@Url.Content("~/Assets/plugins/noty/jquery.noty.packaged.min.js")"></script>

    <script src="@Url.Content("~/Areas/Admin/Assets/js/eshop.js")"></script>

    <script src="@Url.Content("~/Areas/Admin/Assets/js/app.min.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="description" content="The description of my page" />
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="@Url.Action("Index", "Home")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a class="sidebar-toggle" role="button" data-toggle="offcanvas" href="#">
                <span class="text">Zobrazit menu</span>
                <span class="sr-only">Zobrazit navigaci</span>
            </a>
        </nav>

    </header>

    <aside class="main-sidebar">

        <section class="sidebar">
            @if (User.Identity.IsAuthenticated && User.IsInRole(Role.ROLES.Administrator.ToString()))
            {

                @Html.Action("MainMenu", "Menu")
            }
        </section>
    </aside>

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>

</div>

</body>
</html>
